* {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}

body {
    margin: 10px 14px 10px;
}

div {
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 15px;
    justify-content: flex-end;
    align-items: center;
    margin: 0 0 200px;
}

nav li {
    margin: 0;
}

nav ul li a {
    font-size: 13px;
    text-decoration: none;
    color: #000000;
}

nav ul li a:hover {
    text-decoration: underline;
}

.google-apps {
    border-radius: 50%;
    fill: #5F6368;
    margin: 0px -7.5px 0 4px;
    padding: 7.5px;
}

.google-apps:hover {
    background-color: #EBECEC;
}

.search-container {
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}

.searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 38px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    line-height: 22px;
    overflow: hidden;
    padding: 5px 14px 5px 14px;
    margin: 25px 15px 0;
    resize: none;
    background-color: transparent;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
}

input[type="text"] {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    margin: 0 14px 0;
    color: #202124;
    align-items: center;
}

.line {
    width: 1px;
    height: 32px;
    background-color: #dfe1e5;
    margin: 0 15px;
}

.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial, sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.button:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 5px;
}

img:hover, svg:hover{
    cursor: pointer;
}