* {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-size: 13px;
}

body {
    margin: 8px;
}

div {
    text-align: center;
}

.center-table {
    display: flex;
    justify-content: center;
    margin: 0;
}

.text-box {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 13px;
}

.larger-text {
    font-size: 16px;
}

#padding-table {
    padding: 11px;
}