@font-face {
  font-family: "WorkSans-Bold";
  src: url("../fonts/WorkSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "WorkSans-Medium";
  src: url("../fonts/WorkSans-Medium.ttf") format("truetype");
}
.hidden-element {
  visibility: hidden;
  display: none;
  width: 0;
  height: 0;
  overflow: hidden;
}

nav #logo {
  font-family: "WorkSans-Bold";
  font-size: 18px;
  margin-right: 12px;
}
nav #selected-page {
  text-decoration: underline;
  text-underline-offset: 6px;
}
nav ul {
  font-family: "WorkSans-Medium";
  font-size: 16px;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  overflow-wrap: break-word;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
nav li {
  margin-right: 9px;
}

.cards {
  display: grid;
  gap: 120px 90px;
  margin-top: 65px;
}
.cards .card a {
  text-decoration: none;
}
.cards .card h3 {
  font-family: "WorkSans-Bold";
  font-size: 18px;
  color: black;
}
.cards .card img {
  width: var(--screen-width);
  height: var(--screen-height);
  min-width: 100%;
  min-height: 100%;
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  cursor: pointer;
  opacity: 1;
  backface-visibility: hidden;
}
.cards .card img:hover {
  opacity: 0.85;
  transition: 0.5s ease;
}

@media (min-width: 750px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    height: var(--screen-height-wide);
  }
  .cards .card img {
    height: var(--screen-height-wide);
    min-width: 100%;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    max-height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
    cursor: pointer;
  }
}
.the-story-container {
  display: grid;
  gap: 0 50px;
  margin-top: 45px;
}
.the-story-container .the-story-header {
  margin-top: 0;
  font-family: "WorkSans-Bold";
  font-size: 28px;
  color: black;
}
.the-story-container .the-story-text {
  font-family: "WorkSans-Bold";
  font-size: 18px;
  color: black;
}
.the-story-container #the-story-image {
  height: calc(var(--screen-height) - 110px);
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}

@media (min-width: 750px) {
  .the-story-container {
    grid-template-columns: repeat(2, 1fr);
    height: calc(var(--screen-height) - 110px);
    width: 100%;
  }
  .the-story-container #the-story-image {
    width: var(--screen-width);
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: top;
       object-position: top;
  }
}
.the-process-header {
  font-family: "WorkSans-Bold";
  font-size: 28px;
  color: black;
}

.the-process-text {
  font-family: "WorkSans-Bold";
  font-size: 18px;
  color: black;
}

.say-hello-header {
  margin-top: 45px;
  font-family: "WorkSans-Bold";
  font-size: 28px;
  color: black;
}

.fieldset-container {
  border: none;
  padding: 0;
  margin-top: 25px;
}

.fieldset-text {
  font-family: "WorkSans-Medium";
  font-size: 14px;
  color: black;
}

.required-text {
  color: #5b5b5b;
}

.name-container {
  display: flex;
  gap: 40px;
}
.name-container .name-area {
  flex: 1;
}

.name-container,
.text-margin {
  margin-top: 15px;
}

.fieldset-text-area,
.fieldset-name-area {
  width: 100%;
  max-width: calc(100% - 19px);
  margin-top: 7px;
  font-family: "WorkSans-Medium";
  font-size: 14px;
  color: black;
  padding: 10px;
}

@media (min-width: 750px) {
  .fieldset-text-area {
    width: 50%;
  }
  .name-container {
    max-width: calc(50% + 19px);
  }
}
form textarea {
  resize: vertical;
}

form textarea,
form input {
  border: 1px solid #a9a9a9;
  background-color: #fafafa;
}

form textarea:focus,
form input:focus {
  outline: 2px solid black;
  outline-offset: 2px;
}

form button {
  width: 136px;
  height: 65px;
  font-family: "WorkSans-Medium";
  font-size: 14px;
  color: black;
  border: 2px solid black;
  background-color: #fafafa;
}

form button:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

#follow-container ul {
  font-family: "WorkSans-Medium";
  font-size: 16px;
  list-style: none;
  padding: 0;
  align-items: center;
  overflow-wrap: break-word;
}
#follow-container ul li {
  margin-bottom: 4px;
}
#follow-container ul li a {
  text-decoration: underline;
  text-underline-offset: 3px;
  color: black;
}/*# sourceMappingURL=style.css.map */