* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f1f5f8;
  font-family: "Zilla Slab", serif;
}

h2 {
  font-family: "Great Vibes", cursive;
  font-size: 3rem;
  text-align: center;
  color: #ff6a23;
}

.menu {
  margin-top: 20px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}

.btn-item {
  margin-left: 15px;
}

.photo {
  height: 175px;
  aspect-ratio: 4/5;
  object-fit: cover;
  object-position: center;
  border: 0.25rem solid black;
  border-radius: 10px;
}

.photo:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.menu-items {
  display: flex;
  margin: 20px 0;
}

.menu-info {
  margin-left: 20px;
  width: 100%;
}

.menu-title {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid black;
}

.menu-title:hover{
  cursor:pointer;
}

h4 {
  color: #e00a00;
}

.menu-text {
  padding-top: 20px;
}